---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';

import { basics } from '@cv';
import JobSimulations from '@/components/sections/JobSimulations.astro';
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <div class="no-print">
      <Projects />
    </div>
    <Education />
    <JobSimulations />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
    background-color: #dfded9;
    color: #121a2b;
  }

  @media (width <= 700px) {
    main {
      padding: 1rem;
    }
  }
</style>
